<h1><code ng:non-bindable=""></code>
<span class="hint"></span>
</h1>
<div><h1 id="dynamizeyourtranslations">Dynamize your translations</h2>

<p>Okay so far so good. Using <code>$translate</code>, <code>translateFilter</code> and
<code>translateDirective</code> is pretty neat! But what if your translations need
dynamic data? Say you want to display a notification message with a text like
'You've received <em>n</em> mails', where <em>n</em> is a placeholder for a dynamic value which
could be any number?</p>

<p>Well, <code>angular-translate</code> got you covered. First, you have to teach your translations
dynamic values. This is fairly simple. Just use string interpolation directive on the
place where you want to have a dynamic value to be passed in.</p>

<pre><code class="js">angular.module('myApp', ['pascalprecht.translate'], ['$translateProvider', function ($translateProvider) {

  $translateProvider.translations({
    'ANOTHER_TEXT': 'I had {{value}} beers.'
  });

}]);
</code></pre>

<p>Now use the provided ways to pass values into translations.</p>

<p><strong><a href="http://plnkr.co/edit/yOnxJs">&rarr; View Plunker</a></strong></p>

<h3 id="passingvaluesthroughdtranslateservice">Passing values through $translate service</h4>

<p>You can pass values through <code>$translate</code> service as second argument as
object hash, where a key maps to the interpolation identifier in your translation.</p>

<p>E.g. to pass a value into the above registered translation, all you have to do is
somehting like this:</p>

<pre><code class="js">angular.module('myApp').controller('Ctrl', ['$translate', '$scope', function ($translate, $scope) {

  $scope.translatedText = $translate('ANOTHER_TEXT', { value: 10 });
  // would result in 'I had 10 beers.'

}]);
</code></pre>

<p>And as you might guessed, there are <a href="https://github.com/PascalPrecht/angular-translate/blob/master/test/unit/translateSpec.js#L86-L142">plenty cases to test</a>.</p>

<p><strong><a href="http://plnkr.co/edit/RpRcP3">&rarr; View Plunker</a></strong></p>

<h3 id="parametrizingthetranslatefilter">Parametrizing the translate filter</h4>

<p>Since <code>translateFilter</code> uses <code>$translate</code> service internally, we
just need a way to pass dynamic values through the filter to make it available as object
hash for the service.</p>

<p>To achieve this, there is a specific syntax required, because filters in angular are
currently not able to have named parameters. So there are to ways to pass values through
<code>translateFilter</code>.</p>

<p>The first way is to pass an object literal as string, which gets then passed by <code>translateFilter</code>
and afterwards interpolated by <code>$translate</code> service. To get the same result
as in [Passing values through $translate service(#passing-values-through-translate-service),
you have to do the following:</p>

<pre><code class="html">&lt;p&gt;{{ 'ANOTHER_TEXT' | translate:'{ value: 10 }' }}&lt;/p&gt;
</code></pre>

<p><strong><a href="http://plnkr.co/edit/qDrvEP">&rarr; View Plunker</a></strong></p>

<p>Not that hard right? But what if the value '10' isn't actually fix and also has to be
interpolated before getting passed?</p>

<p>The only way to get this done is to pass a scope object as angular expression through
the filter. Which also means, you have to bind your dynamic values for the translations
in the controller which exposes the values on the scope.</p>

<pre><code class="js">angular.module('myApp').controller('Ctrl', ['$scope', function ($scope) {

  $scope.translationData = {
    value: 10
  };
}]);
</code></pre>

<p>And then pass it as expression through the filter</p>

<pre><code class="html">&lt;p&gt;{{ 'ANOTHER_TEXT' | translate:translationData }}&lt;/p&gt;
</code></pre>

<p><strong><a href="http://plnkr.co/edit/PB6Dwi">&rarr; View Plunker</a></strong></p>

<p><a href="https://github.com/PascalPrecht/angular-translate/blob/master/test/unit/translateSpec.js#L373-L448">Read the testsuite</a> for more special cases.</p>

<h3 id="usingtranslatedirectivesvaluesattribute">Using translate directives 'values' attribute</h4>

<p>You can make the same possible with <code>translateDirective</code> all you have to do
is to combine the directive with a <code>values</code> attribute. The <code>values</code>
attribute expects the same kind of values as the filter. A object literal as string,
or a interpolation directive.</p>

<pre><code class="html">&lt;p translate="ANOTHER_TEXT" values="{ value: 10}"&gt;&lt;/p&gt;
// or
&lt;p translate="ANOTHER_TEXT" values="{{translationData}}"&gt;&lt;/p&gt;
</code></pre>

<p>This, of course, works with all kind of ways you can use the directive. Check out
the <a href="https://github.com/PascalPrecht/angular-translate/blob/master/test/unit/translateSpec.js#L714-L830">tests</a> for more information.</p>

<p><strong><a href="http://plnkr.co/edit/Um6c0E">&rarr; View Plunker</a></strong></p></div>
