<h1><code ng:non-bindable=""></code>
<span class="hint"></span>
</h1>
<div><h1 id="i18nforyourangularappsmadeeasy">i18n for your Angular apps, made easy</h2>

<h4 id="angulartranslateistheeasiestwaytobringi18nandl10ntoyourangularapps">angular-translate is the easiest way to bring i18n and l10n to your Angular apps!</h5>

<p><br>
You want to bring <strong>i18n</strong> and <strong>l10n</strong> to your Angular apps and couldn't find an easy way
how to do it? angular-translate got you covered. It comes with plenty useful features
and extensions and gives you ultra high flexibility when it comes to customization.
These are just a few of the great features:</p>

<h2 id="features">Features</h3>

<ul>
<li>Components (filters/directives) to translate your contents</li>
<li>Asynchronous loading of i18n data</li>
<li>Pluralization support using <strong>MessageFormat.js</strong></li>
<li>Expandability through easy to use interfaces</li>
</ul>

<p>If you like the module and use it in your projects, make it public on
<a href="http://ngmodules.org/modules/angular-translate">ngmodules</a> and click that
"<em>I use it</em>" button! angular-translate is easy to install and even easier to use!
When you read this doc, you'll learn how to use angular-translate and its cool features!
Let's have a quick start:</p>

<h2 id="quickstart">Quick Start</h3>

<p>Install module via Bower:</p>

<pre><code>$ bower install angular-translate
</code></pre>

<p>Make sure to embed the it in your HTML document.</p>

<pre class="prettyprint linenums">
&lt;script src="path/to/angular-translate.js"&gt;&lt;/script&gt;
</pre>

<p>Inject <code>angular-translate</code> module as a dependency into your app:</p>

<pre class="prettyprint linenums">
var app = angular.module('myApp', ['pascalprecht.translate']);
</pre>

<p>Teach you app translations:</p>

<pre class="prettyprint linenums">
app.config(['$translateProvider', function ($translateProvider) {
  $translateProvider.translations('en', {
    'TITLE': 'Hello',
    'FOO': 'This is a paragraph',
  });

  $translateProvider.translations('de', {
    'TITLE': 'Hallo',
    'FOO': 'Dies ist ein Paragraph'
  });

  $translateProvider.preferredLanguage('en');
}]);
</pre>

<p>Translate your app:</p>

<pre class="prettyprint linenums">
&lt;h1&gt;{{ 'TITLE' | translate }}&lt;/h1&gt;
&lt;p&gt;{{ 'FOO' | translate }}&lt;/p&gt;
</pre>

<p>Here's how it looks like:</p>

<h3>Source</h3>
<div source-edit="myApp" source-edit-deps="angular.js script.js" source-edit-html="index.html-29" source-edit-css="" source-edit-js="script.js-28" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-29" ng-html-wrap-loaded="myApp angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-29">
    
    <div ng-controller="Ctrl">
      <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
      <button ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE"></button>
      <h1 translate="TITLE"></h2>
      <p translate="FOO"></p>
    </div>
  </script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-28"></pre>
<script type="text/ng-template" id="script.js-28">
      var app = angular.module('myApp', ['pascalprecht.translate']);

      app.config(['$translateProvider', function ($translateProvider) {
        $translateProvider.translations('en', {
          'TITLE': 'Hello',
          'FOO': 'This is a paragraph',
          'BUTTON_LANG_EN': 'english',
          'BUTTON_LANG_DE': 'german'
        });

        $translateProvider.translations('de', {
          'TITLE': 'Hallo',
          'FOO': 'Dies ist ein Paragraph',
          'BUTTON_LANG_EN': 'englisch',
          'BUTTON_LANG_DE': 'deutsch'
        });

        $translateProvider.preferredLanguage('en');
      }]);

      app.controller('Ctrl', ['$scope', '$translate', function ($scope, $translate) {

        $scope.changeLanguage = function (langKey) {
          $translate.uses(langKey);
        };
      }]);
    </script>
</div>
</div><h3>Demo</h3>
<div class="well doc-example-live animator-container" ng-embed-app="myApp" ng-set-html="index.html-29" ng-eval-javascript="script.js-28"></div>

<p>This is just a quick example of how angular-translate actually works. Basically
the whole thing works like "<em>Provide some i18n data, let angular-translate know of it
and use its components to interpolate your translations (against some values).</em>".
Easy, huh?</p>

<h2 id="usefulresources">Useful resources</h3>

<p>There are some very useful things on the web that might be interesting for you,
so make sure to check this list.</p>

<ul>
<li><a href="https://github.com/PascalPrecht/angular-translate/wiki/Demos">Examples and demos</a> - Currently on plnkr.co</li>
<li><a href="http://angularjs.de/artikel/angularjs-i18n-ng-translate">Tutorial on angularjs.de</a> - German article</li>
<li><a href="http://www.neoskop.de/blog/angular-translate">Tutorial on neoskop.de</a> - German article</li>
<li><a href="http://github.com/PascalPrecht/angular-translate">angular-translate on GitHub</a> - The GitHub repository</li>
<li><a href="http://ngmodules.org/modules/angular-translate">angular-translate on ngmodules.org</a></li>
<li><a href="https://groups.google.com/forum/#!forum/angular-translate">angular-translate mailinglist</a> - Discuss, ask et al!</li>
</ul>

<h2 id="thankyoucommunity">Thank you, community!</h3>

<p>We got a lot of great feedback from the community so far! More and more people
use this module and they are always thankful for it and the awesome support they
get. I just want to make sure that you guys know: All this wouldn't have been
possible without these <a href="http://github.com/PascalPrecht/angular-translate/contributors">great contributors</a>
and everybody who comes with new ideas and feature requests! So <strong>THANK YOU</strong>!</p>

<p><br></p>

<hr>

<p><center>Made with unicorn &hearts; love by <a href="http://github.com/PascalPrecht">PascalPrecht</a></center></p></div>
