<h1><code ng:non-bindable=""></code>
<span class="hint"></span>
</h1>
<div><h1 id="migrationguide">Migration Guide</h2>

<h3 id="from060to070">From 0.6.0 to 0.7.0</h4>

<h4 id="deprecateddtranslateproviderrememberlanguage">[deprecated] $translateProvider#rememberLanguage()</h5>

<p><code>rememberLanguage()</code> is no longer supported. Please make sure to use the new storage interfaces:</p>

<ul>
<li><code>useLocalStorage()</code></li>
<li><code>useCookieStorage()</code></li>
<li><code>useStorage()</code></li>
</ul>

<p>They'll take care of the rest. [[More information|Multi-Language#let-your-app-remember-the-language]]</p>

<h4 id="usedtranslateproviderpreferredlanguageinsteadofdtranslateprovideruses">Use $translateProvider#preferredLanguage() instead of $translateProvider#uses()</h5>

<p>See [[#29|https://github.com/PascalPrecht/ng-translate/pull/29]]</p>

<h3 id="from07xto080">From 0.7.x to 0.8.0</h4>

<h4 id="modulenamechangedfromngtranslatetopascalprechttranslate">Module name changed from 'ngTranslate' to 'pascalprecht.translate'</h5>

<h3 id="from08xto090">From 0.8.x to 0.9.0</h4>

<h4 id="introducingextensions">Introducing Extensions</h5>

<p><code>angular-translate</code> now uses extensions to get some work done. There are extensions for:</p>

<ul>
<li>Url loader</li>
<li>static-files loader</li>
<li>cookie storage</li>
<li>local storage</li>
</ul>

<p><strong>Attention!</strong> <code>$translateProvider.registerLoader()</code> is no longer supported!</p>

<p>Also see:
* Using Storages - https://github.com/PascalPrecht/angular-translate/wiki/Multi-Language#let-your-app-remember-the-language
* Async loading - https://github.com/PascalPrecht/angular-translate/wiki/Asynchronous-loading#registering-asynchronous-loaders</p>

<p>Repos:</p>

<ul>
<li>https://github.com/PascalPrecht/angular-translate-loader-static-files</li>
<li>https://github.com/PascalPrecht/angular-translate-loader-url</li>
<li>https://github.com/PascalPrecht/angular-translate-storage-local</li>
<li>https://github.com/PascalPrecht/angular-translate-storage-cookie</li>
</ul></div>
